@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700;800;900&display=swap');

:root{
    --color-primary: #112659;
    --color-secondary: #0277DA;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html, body {
    font-family:'Quicksand', sans-serif;
    font-size: 14px;
    color:black;
}

a{
    color: #000;
}

ul{
    list-style: none;
}

p{
    margin:5px 0;
    line-height: 1.7;
}

/*img{
    max-width: 100%;
}*/

/* Nav Bar*/
.navbar{
    width:100%;
    height:auto;
    background-color: #fff;
    padding: 20px;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.navbar-brand img{
    width:95px;
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar li{
    margin: 0 25px;
    font-weight: 900;
    
}

.navbar a{
    color: #000;
    text-decoration: none;
}

.navbar a:hover{
    color:var(--color-secondary);
}

.navbar-nav-left{
    text-transform:uppercase;
    flex:1;
    margin-left: 10px;
}


.navbar-search-container{
    display: flex;
    border: 1px solid #000;
    border-radius: 5px;
    width: 300px;
    background-color: #eaeaea;
    align-items:center;
}

.navbar-search-container img{
    width: 40px;
    height: 48px;
    padding-bottom: 0;
    border-radius: 2px;
    display:block;
}

.navbar-search-container a{
    padding:0px;
    display:block;
}

.navbar-search-container input{
    background-color:#eaeaea;
    border-radius: 5px;
    border:none;
    padding-left:5px;
    height:49px;
    width:260px;
}

.navbar-search-container input:focus{
    border-radius: 5px;
    border: 2px solid #000;
    outline: none;
}

.navclass-search-hidden{
    display: flex;
    visibility:hidden;
    width:800px;
    height:0px;
    justify-content:flex-start;
    align-items:center;
    border-top: 1px solid #000;
    
}

.navclass-search-hidden-container{
    display: flex;
    border: 1px solid #000;
    border-radius: 5px;
    width: 600px;
    background-color: #efefef;
    align-items:center;
    
    
}

.navclass-search-hidden-container img{
    width: 40px;
    height: 48px;
    padding-bottom: 0;
    border-radius: 2px;
    display:block;
}

.navclass-search-hidden-container a{
    padding:0px;
    display:block;
}

.navclass-search-hidden-container input{
    background-color:#efefef;
    border-radius: 5px;
    border:none;
    padding-left:5px;
    height:49px;
    width:560px;
}

.navclass-search-hidden-container input:focus{
    border-radius: 5px;
    border: 2px solid #000;
    outline: none;
}

.mainsplash{
    background-image:url("images/iamgrootmain.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height:800px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    transition: transform .3s;
}

.mainsplash:hover {
    transform: scale(1.01);
  }

.mainsplash .splashitems{
    justify-content: flex-end;
    padding-right:50px;
}

.mainsplash .logo{
    display:flex;
    align-items: center;
    justify-content: center;
}

.splash-text{
    text-align: center;
    color: #fff;
    font-weight: bold;
    width: 200px;
}

.mainsplash .button-stream{
    margin-top: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform:capitalize;
    background-color: #fff;
    color: #000;
    width:200px;
    height:50px;
    border-radius:30px;
    font-weight: bolder;
    font-size: 14px;
    line-height: 2em;
}

.mainsplash .button-watch{
    margin-top: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-transform:capitalize;
    background-color: #000;
    border:#fff 1px solid;
    color: #fff;
    width:200px;
    height:50px;
    border-radius:30px;
    font-weight: bolder;
    font-size: 14px;
    line-height: 2em;
}

.mainsplash .button-watch .fa-play{
    padding-right:10px;
}

@media (max-width: 768px) {
    .navbar ul{
        visibility:hidden;
    }
    .navclass-search-hidden{
        visibility:visible;
        height:100%;
        padding-top:20px;
        padding-right: 25px;
        padding-left: 25px;
    }

    .navbar-search-container{
        visibility:hidden;
    }
  }

